{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- pybo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">    
    <title>Hello, pybo!</title>
</head>
<body>
<!-- ※ include 태그는 보통 템플릿내에 특정 영역이 반복적으로 사용될 경우 그 특정영역을 독립된 템플릿으로 만들고 include로 그 템플릿을 포함하여 중복을 없애기 위해 사용된다. navbar.html는 다른 템플릿들에서 중복되어 사용되지는 않지만 독립된 하나의 템플릿으로 관리하는 것이 유리하므로 분리하였다.-->
{% include "navbar.html"%}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 자바스크립트 Start -->
{% block script %}
<!-- jQuery JS -->
<script src="{% static 'jquery-3.4.3.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'bootstrap.min.js' %}"></script>
{% endblock %}
<!-- 자바스크립트 End -->
</body>
</html>